# Virtual environment
venv/
*.virtualenv/
.env.development
.env.docker
.env.test

# IDE - PyCharm
.idea/
*.iml

# Python
*.egg-info/
*.egg/
*.pyc
__pycache__/
.ruff_cache

# Logs
*.log

# Temporary files
*.tmp

test.db