# Virtual environment
venv/
*.virtualenv/
.env
.env.docker

# IDE - PyCharm
.idea/
*.iml

# Python
*.egg-info/
*.egg/
*.pyc
__pycache__/
.ruff_cache

# Logs
*.log

# Temporary files
*.tmp

src/test.db